* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

body {
   background-image: url("../img/back.jpg");
   background-size: cover;
}

#container, #container_top, #container_bottom {
   display: flex;
   align-items: center;
}

#container {
   flex-direction: column;
   height: 100vh;
   justify-content: space-between;
}

#container_top {
   justify-content: space-between;
   width: 100%;
}

.top_left, .top_right {
   width: 100px;
}

#container_main_box { 
   display: flex;
   flex-direction: column;
   gap: 10px; 
}

#container_main {

   text-align: center;
}

#container_goal {
   text-align: center;
}

#container_bottom {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

input {
   border: none; 
   border-bottom: 2px solid white; 
   background-color: transparent;
   color: white; 
   padding: 5px;
   width: 200px; 
   text-align: center;
}

input:focus {
   outline: none;
}
